<?xml version='1.0' encoding='utf-8'?>
<widget id="com.rahul.twogether.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Twogether</name>
    <description>Find Your Perfect Match</description>
    <author email="support@twogether.app">Rahul</author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <preference name="Orientation" value="portrait" />
</widget>
